@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: #eee;
  color: rgb(18, 18, 18);
  font-family: "Roboto";
}
a {
  color: rgb(248, 248, 248);
  text-decoration: none;
}
.content {  
  padding-bottom: 100px;
  padding-top: 50px;  
  margin: 0 auto;
  text-align: center;
  
}
nav {
  background: #702121;  
  border: 0ch;  
  margin: 50px auto 100px;
  padding: 10px 0;
  display: flex;
  justify-content:center;    
}

li {
  list-style: none;
}

nav li {
  float: left;
  padding: 0 10px;
  font-size: 14px;
  border-right: 1px #909090 solid;
}

nav a {
  margin-left: 100px;
  margin-right: 100px;
  font-size: larger;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  height: 100px;
  text-align: start;
  padding: 30px ;
  margin-top: 300px;
  color: rgb(255, 255, 255);
  border-top: 1px solid #eaeaea;
  background: #f7b538;
  
}

input{
  border: none;
  margin-bottom: 20px;
  
}

input[type=text]:focus{
  border: 3px  #eee;
  border-radius: 5px;
}